@import url("header_book.css");
@import url("../footer.css");

body{
				background-image: url("../../res/img/action3.jpg");
				background-repeat: no-repeat;
				background-position: center;
				background-attachment: fixed;
				background-size: 100% 100%;
				margin: 0;
			}
			.imgright{
				background-color: black;
				float:right;
				margin:5%;
				padding:1%;
				text-align:right;
				height: 300px;
				width: 200px;
			}
			.imgleft{
				background-color: black;
				float:left;
				margin:5%;
				padding:1%;
				text-align:right;
				height: 300px;
				width: 200px;
			}
			.pararight{
			background-color:rgba(131, 52, 113,1.0);
			text-align:right;
			margin:5%;
			padding:1%;
			font-family: papyrus;
			font-size: 18px;
			font-weight: bold;
			color: white;
			}
			.paraleft{
			background-color:rgba(131, 52, 113,1.0);
			text-align:left;
			margin:5%;
			padding:1%;
			font-family: papyrus;
			font-size: 18px;
			color: white;
			font-weight: bold;
			}
			H1
			{
				background-color: rgba(111, 30, 81,1.0);
				padding:1%;
				font-family:castellar;
				text-align: center;
				font-size: 1cm;
				color: white;

				font-weight: bold;
			}
			H2
			{
				background-color: rgba(111, 30, 81,1.0);
				padding: 1%;
				font-family:castellar;
				text-align: center;
				color: white;

				font-weight: bold;
			}
			